<div>
  <h1>Attack on Gothon</h1>

  <p>Aliens have invaded a space ship and our hero has to <br>
  	go through a maze of rooms defeating them <br>
	so he can escape into an escape pod to the planet below. <br>
  </p>
  <br>

  <div class="container">
   <a href="/central_corridor/" class="btn">Start Game!</a>
 </div>
</div>
