<div>
<p>You do a dive roll into the Weapon Armory, crouch and scan the room <br>
    	for more Gothons that might be hiding.  It's dead quiet, too quiet.<br>
    	You stand up and run to the far side of the room and find the <br>
    	neutron bomb in its container.  There's a keypad lock on the box <br>
    	and you need the code to get the bomb out.  If you get the code <br>
    	wrong 3 times then the lock closes forever and you can't <br>
    	get the bomb.  The code is 3 digits.
    	<br>
    	Hint: What number planet do the gothons come from?
    <br>

    	<form action='/lwa_choice/' method='post'>
		<input type='text' name='choice'> <br>
		<!--<input type='submit' value =" ">-->
	</form>


</div>