<div>
	<p>You burst onto the Bridge with the neutron destruct bomb<br>
	under your arm and surprise 5 Gothons who are trying to<br>
	take control of the ship.  Each of them has an even uglier<br>
	clown costume than the last.  They haven't pulled their<br>
	weapons out yet, as they see the active bomb under your<br>
	arm and don't want to set it off.<br></p>

	<ul>
 	 	<li class="horiz">throw the bomb /</li>
 		<li class="horiz"> slowly place the bomb </li>
	</ul> 
		<br>


	<form action='/tb_choice/' method='post'>
		<input type='text' name='choice'> <br>
		<!--<input type='submit' value =" ">-->
	</form>

</div>