<div>
	<% session['death'] += 1 %>
<p>
	You jump into pod one and hit the eject button.<br>
	The pod escapes out into the void of space, then<br>
	implodes as the hull ruptures, crushing your body<br>
	into jam jelly.<br>
</p>
	<br>

<div class="container">
	<a href="/" class="btn">Start Over!</a>
</div>
</div>