<div>
<p>You jump into pod two and hit the eject button.<br>
The pod easily slides out into space heading to<br>
the planet below.  As it flies to the planet, you look<br>
back and see your ship implode then explode like a<br>
bright star, taking out the Gothon ship at the same<br>
time.<br>
</p>

<h1>You Won!</h1>
</div>